.container {
  background: #fff;
  display: flex;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 20px;
}

.column_left {
  float: left;
  width: 50%;
  padding: 4rem;
}
.column_right {
  float: right;
  width: 50%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
  }
  .container {
    flex-direction: column;
  }
  .column_left {
    width: 100%;
  }
  .column_right {
    width: 100%;
  }
}
